.containerMenu {
  background-color: rgba(205, 245, 247, 0.541); /* fundo semi-transparente */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; /* fixa no topo */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000; /* fica acima do resto */
  backdrop-filter: blur(8px); /* efeito vidro */
}

.menu {
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.menu li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #268acc;
  transition: width 0.3s;
}

.menu li:hover::after{
  width: 100%;}
  
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
